<ion-header>
  <ion-toolbar>
    <ion-title>league</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="container-fluid pt-3 contest-section">
    <button class="back">
      <ion-icon name="arrow-back-outline" [routerLink]="['/trial']"></ion-icon>
      My Leagues
    </button>

    <div class="league">
      <div class="row justify-content-center">
        <div class="col-md-6 py-2">

          <div class="row justify-content-center">
            <div class="col-6">
              <p class="name">StockPro</p>
              <p class="description">unlimited stock orders</p>
            </div>

            <div class="col-6 text-right">
              <p class="ranking">RANK <span class="rank">#34</span></p>
              <p class="worth">₹ 1,00,500.7</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-6">
              <p class="closes">
                closes in 2h 30m 3s
              </p>
            </div>

            <div class="col-6 text-right">
              <button class="view-leaderboard">View Leaderboard</button>
              <button class="view-portfolio">View Portfolio</button>
            </div>
          </div>



        </div>

        <div class="col-md-6 py-2">

          <div class="row justify-content-center">
            <div class="col-6">
              <p class="name">StockPro</p>
              <p class="description">unlimited stock orders</p>
            </div>

            <div class="col-6 text-right">
              <p class="ranking">RANK <span class="rank">#34</span></p>
              <p class="worth">₹ 1,00,500.7</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-6">
              <p class="closes">
                closes in 2h 30m 3s
              </p>
            </div>

            <div class="col-6 text-right">
              <button class="view-leaderboard">View Leaderboard</button>
              <button class="view-portfolio">View Portfolio</button>
            </div>
          </div>



        </div>
      </div>
    </div>
  </section>
</ion-content>