.back{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 26px;
  background: #ffffff;
  border-radius: 9.40351px;
  color: #7879F1;
}



.text-right{
  text-align: right !important;
}


.name{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #4F4F4F;
}

.description{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */


/* Gray 3 */

color: #828282;
}

.ranking{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */


/* Gray 4 */

color: #BDBDBD;
}

.rank{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Gray 4 */

color: #BDBDBD;
}

.worth{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Sea green */

color: #31C99B;
}

.closes{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */


/* Gray 4 */

color: #BDBDBD;
}

.view-leaderboard{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 15px;
background: #FFFF;
/* identical to box height */


/* Gray 4 */

color: #BDBDBD;
}

.view-portfolio{
  background: #7879F1;
border-radius: 3px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* identical to box height */


color: #FFFFFF;
}

p{
  margin:0;
}


.league{
  padding-top: 10px;
}